$text-primary: #2b3151;

$link-primary: #2856ae;
$link-secondary: #00308d;

$green-primary: #3ebf8a;
$green-secondary: #008960;

$red-primary: #e1485b;

$grey-primary: #e2e9f3;

$background-primary: #f6f8fc;

$white-primary: #ffffff;
$white-secondary: #fcfdff;

$border-primary: #cdd7e5;
